<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    {{!-- Blue Section --}}
    <div id="header-blue-section">
        <div class="container">
            <h1 class="header-blue-h1">HAQQIMIZDA</h1>
            <p>Ana sehife / Haqqimizda / Biz kimik?</p>
        </div>
    </div>
    {{!-- ///// Blue Section --}}
    {{!-- About  --}}
    <div id="about-ns">
        <div class="container">
            <p>"Metafor" MMC 2006-cı ildə yaradılmışdı. Qısa müddət ərzində şirkət istilik sistemləri, kondisioner və
                havalandırma
                sistemləri, su təchizatı, kanalizasiya sistemləri, yanğın söndürmə sektorunda satış və xidmət üzrə kiçik
                və böyük ofislərə,
                ticarət müəssisələrinə, təhsil və mədəniyyət müəssisələrinə, klinikalara, sənaye istehsalı
                texnologiyalarına, şəxsi evlərə və
                fərdi mənzillərə xidmət göstərməyə başladı. Qazandığı təcrübə ilə bütün Azərbaycan daxilində bu sektorun
                irəlidə gedən
                firmasına çevrildi.</p>
            <p>Şirkətin yaranmasının əsas məqsədi kəmiyyət olaraq kifayət qədər dolu olan bazara keyfiyyət amilini
                artırmaq, məhsulların
                bazarda inkişafı və təkmilləşdirilməsi, Azərbaycan bazarına müassir dünya standartlarına cavab verən
                istilik, havalandırma,
                kondisioner, ventilasiya, kanalizasiya sistemləri, su təchizatı, yanğın söndürmə sistəmləri və
                avadanlıqlarının çatdırılması,
                həmçinin müştərilərə satış və servis xidmətlərinin münasib qiymətlər üzrə göstərilməsidir.
                Müştərilərimizə keyfiyyətli və
                rəqabətə davamlı məhsul təqdim etmək üçün məhsullarımızı istehsalçısı olan ölkələrin arasından ən
                qabaqcılını seçirik.</p>
            <p>Biz Yaponiya, İsveçrə, Amaniya, Rusiya, İtaliya, Danimarka, Türkiyə və digər avropa ölkələri ilə
                əməkdaşlıq edərək həmin
                ölkələrin istilik, havalandırma, kondisioner, su təchizatı və kanalizasiya sistəmləri və avandanlıqları
                sahəsində tanınmış
                firmaların məhsullarını və bütün aksesuarlarının topdan və pərakəndə satışını təşkil edirik. Şirkət
                olaraq yuxarıda adı çəkilən
                ölkələrin öndə gələn firmalarının rəsmi distribütoru olmağa haqq qazanmışıq və onları ölkəmizdə
                layiqincə təmsil edirik.
                Daikin, Tyco, ViessMann, Rifing, Hidria, Wilo, Grundfos, Wolf, Sauter, Danfos, Siemens, Systemair,
                Oventrop kimi firmaların
                sertifikatına sahibik. Şirkətimizdə yüksək ixtisaslı mütəxəsislər işləyirlər və bizim mütəxəsislər
                tədris mərkəzlərində xüsusi
                kurslar keçib və sertifikatlar alıblar.</p>
            <p>“Metafor MMC”-nin müştəriləri dövlət, ticarət və hökümət obyektləri, həmçinin böyük mehmanxanalar, idman
                kompleksləri,
                iş mərkəzləri, xəstəxanalar və banklardır. Qüsursuz iş sistemi ilə satış sonrası, müştərilərimizi
                mərhələ mərhələ izləyərək,
                yerində və zamanında xidmət anlayışı və dəqiqliyi ilə müştəri məmnuniyyətini hər zaman ön planda
                tutmuşuq. Şirkət olaraq
                evlərin və obyektlərin həcminə görə istilik hesabatlarının aparılması, nəmişlik dərəcəsindən asılı
                olaraq istilik itkilərinin
                hesabatının aparılması, sistemin yığılması zamanı təcrübəli ustaların sizə yönləndirilməsi və bu kimi
                digər xidmətləri ilə sizin
                xidmətinizdədir.</p>
            <p>Biz uzun illərdir əməkdaşlıq etdiyimiz Yaponiyanın, İsveçrənin, Amaniyanın, Rusiyanın, İtaliyanın,
                Danimarkanın, Türkiyənin
                ən keyfiyyətli Avropa məhsullarını Azərbaycan şəraitinə uyğunlaşdırılmış (işıq, su, qaz) formada
                ölkəmizə gətirib
                müştərilərimizə təqdim edir və alınan bütün məhsullara zəmanət veririk. Şirkətimiz müştərilərinə
                Avropanın tanınmış
                brendlərinin məhsullarını geniş çeşiddə təklif edə bildiyinə görə yeni sifarişlərin tez bir zamanda
                müştəriyə çatdırılmasına
                görə rəqiblərini daim qabaqlayır. Bununla əlaqədar olaraq artan bu tələbə yüksək səviyədə cavab verən
                firmalardan biri
                olduğumuzu düşünməkdəyik.</p>
        </div>
    </div>
    {{> common/contactpopup }}
    {{!-- ///// About--}}
    {{> common/footer }}

</body>

</html>