<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    {{!-- Blue Section --}}
    <div id="header-blue-section">
        <div class="container">
            <h1 class="header-blue-h1">ƏLAQƏ</h1>
            <p>Ana sehife / Əlaqə</p>
        </div>
    </div>
    {{!-- ///// Blue Section --}}
    {{!-- Customer --}}
    <div id="customer-section">
        <div class="container">
            <div class="customer-container">
                <p class="customer-data">11 Noyabr 2019, 12:07</p>
                <h2 class="customer-title">Guide for using our Customer app</h2>
            </div>
            <div class="customer-img">
                <img src="../assets/study.jpg" class="customer-full-img" alt="">
            </div>
            <div class="customer-container">
                <p class="customer-text">Metafor presents you with the easiest way of scheduling for your services. You
                    can download and apply the following steps for both iOS and Android operating systems</p>
                <br>
                <p class="customer-text">As a first step, you need to download the application to your device. The
                    mobile application is available for both Android OS and IOS.

                    After that, you should create a new profile, by clicking the "Create new Profile" button.
                </p>
                <div class="customer-img">
                    <div class="customer-image-name">
                        <p class="customer-image-name-p">
                            Android
                        </p>
                        <img src="../assets/Android-1.png" class="customer-child-img" alt="">
                    </div>
                    <div class="customer-image-name">
                        <p class="customer-image-name-p">
                            IOS
                        </p>
                        <img src="../assets/iOS-1.png" class="customer-child-img" alt="">
                    </div>
                </div>
 <p class="customer-text">Metafor presents you with the easiest way of scheduling for your services. You
                    can download and apply the following steps for both iOS and Android operating systems</p>
                <br>
                <p class="customer-text">As a first step, you need to download the application to your device. The
                    mobile application is available for both Android OS and IOS.

                    After that, you should create a new profile, by clicking the "Create new Profile" button.
                </p>
                <div class="customer-img">
                    <div class="customer-image-name">
                        <p class="customer-image-name-p">
                            Android
                        </p>
                        <img src="../assets/Android-1.png" class="customer-child-img" alt="">
                    </div>
                    <div class="customer-image-name">
                        <p class="customer-image-name-p">
                            IOS
                        </p>
                        <img src="../assets/iOS-1.png" class="customer-child-img" alt="">
                    </div>
                </div>
 <p class="customer-text">Metafor presents you with the easiest way of scheduling for your services. You
                    can download and apply the following steps for both iOS and Android operating systems</p>
                <br>
                <p class="customer-text">As a first step, you need to download the application to your device. The
                    mobile application is available for both Android OS and IOS.

                    After that, you should create a new profile, by clicking the "Create new Profile" button.
                </p>
                <div class="customer-img">
                    <div class="customer-image-name">
                        <p class="customer-image-name-p">
                            Android
                        </p>
                        <img src="../assets/Android-1.png" class="customer-child-img" alt="">
                    </div>
                    <div class="customer-image-name">
                        <p class="customer-image-name-p">
                            IOS
                        </p>
                        <img src="../assets/iOS-1.png" class="customer-child-img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- ///// Customer --}}
    {{> common/contactpopup }}
    {{> common/footer }}

</body>

</html>