<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    {{!-- Blue Section --}}
    <div id="header-blue-section">
        <div class="container">
            <h1 class="header-blue-h1">BİZDƏN SİZƏ</h1>
            <p>Ana sehife / Bizdən sizə / Xeberler / Havalandırma və tüstüsovurma sistemləri</p>
        </div>
    </div>
    {{!-- ///// Blue Section --}}
    {{!-- News Two --}}
    <div id="newstwo-ns">
        <div class="container">
            <div class="newstwo-image">
                <img src="../assets/image12.png" alt="">
            </div>

            <div class="newstwo-text">
                <p>SNiP (tikinti qaydaları və normalarına) uyğun olaraq otaqlarda
                    və iş yerlərində lazım olan hava şəraitini və dövriyyəsini təmin
                    etmək üçün görülən tədbirlərin toplusuna havalandırma və ya
                    ventilyasiya deyilir. Havalandırma sistemlərinin növləri otaqların
                    təyinatı, işin texnoloji prosesləri və ziyanlı maddələrin havaya
                    tullanmasından asılı olaraq aşağıda göstərilən əlamətlərə görə
                    siniflərə bölünürlər:</p>
                <div class="news-comments">
                    <span class="news-comments-first">BY:</span>
                    <span>ON: <br> APR 2, 2015</span>
                    <span>COMMENTS: <br>
                        <p class="no-comment">NO COMMENT </p>
                    </span>
                </div>
            </div>
            <div class="news-explanation">
                <ul>
                    <li>
                        <p>
                            Havanın hərəkətinin təmin edilməsi üçün
                            təzyiqin yaradılma metodlarına görə: təbii və
                            mexaniki havalandırma.
                        </p>
                    </li>


                    <li>
                        <p>
                            Təyinatına görə: axınlı və sovurucu
                            havalandırma..
                        </p>
                    </li>
                    <li>
                        <p>Sahə xidmətlərinə görə: yerli və ümumi mübadiləli havalandırma.</p>
                        <p> Təbii havalandırma: <br>
                            Təbii havalandırma zamanı havanın hərəkət etməsi aşağıda göstərilənlərə uyğun aparılır:</p>
                    </li>
                    <li>
                        <p>Çöldə və içəridə (otaqlarda) hava hərarətinin təfavütünün, yəni aerasiya adlanan prosesin
                            yaranması nəticəsində yaranan
                            havalandırma.</p>
                    </li>
                    <li>
                        <p> Atmosfer sütununun aşağı (otaqlar) və yuxarı səthləri (binanın damında quraşdırılan
                            deflektor cihazı
                            vasitəsilə) arasında təzyiq
                            fərqinin yaranması nəticəsində yaranan havalandırma.</p>
                    </li>
                    <li>
                        <p>Küləkdən alınan təzyiqin təsiri nəticəsində yaranan havalandırma.</p>
                    </li>
                </ul>
                <p class="news-explanation-p">
                    Mexaniki havalandırma: <br>
                    Havalandırmanın bu növü ventilyator və havaverən maşınların istifadəsilə aparılan məcburi
                    havalandırma sistemidir. Mexaniki
                    havalandırma sistemlərində havanı uzaq məsafələrə hərəkət etdirən avadanlıq və cihazlardan istifadə
                    edilir, onların arasında
                    ventilyatorlar, elektrik mühərriklər, hava qızdırıcıları, toz sovuranlar, avtomatika və s. var və
                    onlar böyük miqdarda elektrik
                    enerjisi sərf edə bilirlər.Onlar müəyyən olunan məkandan havanın
                    verilməsini və uzaqlaşdırılmasını
                    tələb olunan miqdarda və
                    ətraf mühitin dəyişən vəziyyətindən asılı olmayaraq təmin edə bilir.
                </p>
                <p class="news-explanation-p">
                    Tüstüsovurma: <br>
                    Alovlanma və binalarda tüstünün yayılması bir çox hallarda insanların tələf olmalarına və
                    əmlaklarının çox hissəsinin
                    itirilməsinə səbəb olur. Bununla əlaqədar olaraq, məhz tüstünün insan sağlamlığına zərər
                    gətirdiyindən, bina və tikililərin
                    layihələndirilməsində, mühəndislərin məqsədi havalandırma xəttlərinin və sistemlərinin diqqətli
                    təhlilini aparmaq və insan
                    sağlamlığının və əmlakının təhlükəsizliyini təmin etmək üçün yanan maddələrin uzaqlaşdırılmasını
                    layihələndirmək olmalıdır.
                </p>
                <p class="news-explanation-p">
                    Tüstüdən müdafiə: <br>
                    Tüstüdən müdafiə sistemlərinin əsas məqsədlərindən biri tüstü və zəhərli qazların lokallaşması,
                    təxliyə yollarının boşaldılması
                    və yanğının yarandığı binadan/lardan insanların təhlükəsiz təxliyəsini təmin etməkdir. Bundan əlavə
                    hər hansı bir binanın
                    tüstü sovurma sistemləri ilə təchiz edilməsi yanğın söndürən dəstələrə yanğının söndürülməsini və
                    yayılmasını təşkil etməkdə
                    və yanan maddələrin uzaqlaşdırılmasında çox kömək edir.
                </p>
            </div>
            {{>common/search}}
        </div>
    </div>
     {{> common/contactpopup }}
    {{!-- ///// News Two--}}
    {{> common/footer }}

</body>

</html>