<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    {{!-- Blue Section --}}
    <div id="header-blue-section">
        <div class="container">
            <h1 class="header-blue-h1">BİZDƏN SİZƏ</h1>
            <p>Ana sehife / Bizdən sizə / Xeberler</p>
        </div>
    </div>
    {{!-- ///// Blue Section --}}
    {{!-- About  --}}
    <div id="news-ns">
        <div class="container">
            <div class="news-info-card">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center">
                        <div class="news-image-info">
                            <img src="../assets/image12.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="news-image-info-text">
                            <div class="news-first">Havalandırma və tüstüsovurma sistemləri</div>
                            <div class="news-second">
                                <p class="news-second-child">BY:</p>
                                <div class="news-line">
                                </div>
                                <p class="news-second-child">ON: APR 2, 2015</p>
                                <div class="news-line">
                                </div>
                                <p class="news-second-child">COMMENTS:</p>
                                <div class="news-second-child-blue">
                                    NO COMMENT:
                                </div>
                            </div>
                            <div class="news-three">
                                <p>
                                    SNiP (tikinti qaydaları və normalarına) uyğun olaraq otaqlarda və iş yerlərində
                                    lazım olan hava şəraitini və dövriyyəsini təmin etmək üçün görülən tədbirlərin
                                    toplusuna havalandırma və ya ventilyasiya deyilir. Havalandırma sistemlərinin
                                </p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="" class="news-continue">
                                    Davami
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="10px" y="10px"
                                        viewBox="0 0 18.89 12.4" style="enable-background:new 0 0 18.89 12.4;"
                                        xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                                fill: none;
                                                stroke: white;
                                                stroke-linecap: round;
                                                stroke-miterlimit: 10;
                                            }

                                            .st1 {
                                                fill: none;
                                                stroke: white;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                                stroke-miterlimit: 10;
                                            }
                                        </style>
                                        <g>
                                            <line class="st0" x1="0.85" y1="6.06" x2="18.04" y2="6.06" />
                                            <polyline class="st1" points="11,10.84 18.04,6.06 11,1.56 	" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-info-card">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center">
                        <div class="news-image-info">
                            <img src="../assets/image12.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="news-image-info-text">
                            <div class="news-first">Havalandırma və tüstüsovurma sistemləri</div>
                            <div class="news-second">
                                <p class="news-second-child">BY:</p>
                                <div class="news-line">
                                </div>
                                <p class="news-second-child">ON: APR 2, 2015</p>
                                <div class="news-line">
                                </div>
                                <p class="news-second-child">COMMENTS:</p>
                                <div class="news-second-child-blue">
                                    NO COMMENT:
                                </div>
                            </div>
                            <div class="news-three">
                                <p>
                                    SNiP (tikinti qaydaları və normalarına) uyğun olaraq otaqlarda və iş yerlərində
                                    lazım olan hava şəraitini və dövriyyəsini təmin etmək üçün görülən tədbirlərin
                                    toplusuna havalandırma və ya ventilyasiya deyilir. Havalandırma sistemlərinin
                                </p>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="" class="news-continue">
                                    Davami
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="10px" y="10px"
                                        viewBox="0 0 18.89 12.4" style="enable-background:new 0 0 18.89 12.4;"
                                        xml:space="preserve">
                                        <style type="text/css">
                                            .st0 {
                                                fill: none;
                                                stroke: white;
                                                stroke-linecap: round;
                                                stroke-miterlimit: 10;
                                            }

                                            .st1 {
                                                fill: none;
                                                stroke: white;
                                                stroke-linecap: round;
                                                stroke-linejoin: round;
                                                stroke-miterlimit: 10;
                                            }
                                        </style>
                                        <g>
                                            <line class="st0" x1="0.85" y1="6.06" x2="18.04" y2="6.06" />
                                            <polyline class="st1" points="11,10.84 18.04,6.06 11,1.56 	" />
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> common/pagination }}

            <div class="news-date">
                <div class="row">
                    <div class="col-lg-8 ">
                        {{> common/search }}
                    </div>
                    <div class="col-lg-4">
                        <div class="calendar">
                            <div id="datepicker" data-date="09/24/2019"></div>
                            <input type="hidden" id="my_hidden_input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> common/contactpopup }}
    {{!-- ///// About--}}
    {{> common/footer }}

</body>

</html>