<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    {{!-- Blue Section --}}
    <div id="header-blue-section">
        <div class="container">
            <h1 class="header-blue-h1">BİZDƏN SİZƏ</h1>
            <p>Ana sehife / Bizdən sizə / Xeberler / Havalandırma və tüstüsovurma sistemləri</p>
        </div>
    </div>
    {{!-- ///// Blue Section --}}
    {{!-- News Two --}}
    <div id="project-ns">
        <div class="container">
            <div class="tabs scrollbar">
                <ul class="tabs-nav">
                    <li><a id="tabs-nav-a-item" href="#tab-1">All</a></li>
                    <li><a id="tabs-nav-a-item" href="#tab-2">Bank</a></li>
                    <li><a id="tabs-nav-a-item" href="#tab-3">Dovlet</a></li>
                    <li><a id="tabs-nav-a-item" href="#tab-4">Hotel</a></li>
                    <li><a id="tabs-nav-a-item" href="#tab-5" class="sd">Istirahet Mekanlari</a></li>
                    <li><a id="tabs-nav-a-item" href="#tab-6">Ofis</a></li>
                    <li><a id="tabs-nav-a-item" href="#tab-7">Spa</a></li>
                    <li><a id="tabs-nav-a-item" href="#tab-8">Plaza</a></li>
                </ul>
                <div class="tabs-stage">
                    <div class="tab-div" id="tab-1">
                        <div class="row ">
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            Numune Proyekt
                                        </span>
                                        <p>Numune Kateqoriya</p>
                                        <p>Havalandırma sistemləri hava mübadiləsini təmin edir ki, bunun nəticəsində də otaqdan istifadə olunmuş hava çıxır və təmiz havanın verilməsi təmin edilir.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-div" id="tab-2">
                        <div class="row ">
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-div" id="tab-3">
                        <div class="row ">
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-div" id="tab-4">
                        <div class="row ">
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-div" id="tab-5">
                        <div class="row ">
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-div" id="tab-6">
                        <div class="row ">
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-div" id="tab-7">
                        <div class="row ">
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-div" id="tab-8">
                        <div class="row ">
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  col-md-6 col-sm-12">
                                <div class="all-tabs-card">
                                    <a href="../assets/image10.png" id="all-tabs-card-a-item" data-fancybox="images"
                                        data-caption="Caption for single image" data-width="2048" data-height="1365">
                                        <img src="../assets/image10.png" alt="">
                                    </a>
                                    <a href="#" class="all-tabs-card-text">
                                        <span>
                                            JUMEIRAH HOTEL - ÇAMAŞIRXANA
                                        </span>
                                        <p>HOTEL</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> common/contactpopup }}
    {{!-- ///// News Two--}}
    {{> common/footer }}

</body>

</html>