<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    {{!-- Blue Section --}}
    <div id="header-blue-section">
        <div class="container">
            <h1 class="header-blue-h1">BİZDƏN SİZƏ</h1>
            <p>Ana sehife / Bizdən sizə / Sual cavab</p>
        </div>
    </div>
    {{!-- ///// Blue Section --}}
    {{!-- Service --}}
    <div id="question-ns">
        <div class="container">
            <div class="accordion-header">
                    <h2 class="mini-tit">ÇOX SORUŞULAN SUALLAR VƏ CAVABLARI</h2>
            </div>

 
            <div class="accordion-container">
                <div class="set">
                    <div class="asd">
                        <span>
                        Nə üçün kondisioner istifadə etməliyəm ?
                        </span>
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magnaKondisionerlər sizin daha rahat və məhsuldar yaşamaq məqsədi ilə,
                            olduğunuz mühitin havasını soyudan, nəmini alan,
                            istilədən, toz və zərrəcikləri filtr edən, sizə təmiz hava qazandıran, pis qoxulu və çirkli
                            havanı sizdən uzaqlaşdıran,
                            tənəffüs etdiyiniz havanın keyfiyyətini yüksəldən texnologiya möcüzəsi cihazlardır.
                            Sağlamlığınız üçün ehtiyyac duyulan
                            bir cihaz olan kondisionerləri və ən son modellərini öyrənmək üçün saytımızı gəzə
                            bilərsiniz..</p>
                    </div>
                </div>
                <div class="set">
                    <div class="asd">
                        <span>
                      Kondisioner sağlığa zərərlidir?
                        </span>
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="content">
                        <p> Kondisionerlər sizin daha rahat və məhsuldar yaşamaq məqsədi ilə, olduğunuz mühitin havasını
                            soyudan, nəmini alan,
                            istilədən, toz və zərrəcikləri filtr edən, sizə təmiz hava qazandıran, pis qoxulu və çirkli
                            havanı sizdən uzaqlaşdıran,
                            tənəffüs etdiyiniz havanın keyfiyyətini yüksəldən texnologiya möcüzəsi cihazlardır.
                            Sağlamlığınız üçün ehtiyyac duyulan
                            bir cihaz olan kondisionerləri və ən son modellərini öyrənmək üçün saytımızı gəzə
                            bilərsiniz.</p>
                    </div>
                </div>

            </div>

            <div class="accordion-header">           
                    <h2 class="mini-tit">SUALINIZ VAR?</h2>
            </div>
            <div class="coment-accordion">
                <form>
                <input type="text" class="comment-input" placeholder="Lorem ipsum dolor sit amet…">
                </form>
                <div class="comment-send-mother"><a href="" class="comment-send">Gonder</a></div>
            </div>
        </div>
    </div>
     {{> common/contactpopup }}
    {{!-- ///// Services --}}
    {{> common/footer }}

</body>


</html>