<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    {{!-- Blue Section --}}
    <div id="header-blue-section">
        <div class="container">
            <h1 class="header-blue-h1">XIDMETLER</h1>
            <p>Ana sehife / Xidmetler / Kondisioner Sistemləri / Hava Sogutmali Chiller</p>
        </div>
    </div>
    {{!-- ///// Blue Section --}}
    {{!-- Service Two --}}
    <div id="service-two-ns">
        <div class="container">
            <ul class="service-two-ul">
                <li>600 kW’a kadar soğutma kapasitesi</li>
                <li>Heat pumplı modellerle 280 kW ‘a kadar ısıtma kapasitesi, Hidrolik modüllü modeller : Kolay ve hızlı
                    montaj, minimum yer
                    ihtiyacı</li>
                <li>Yeni nesil soğutucu akışkanlar : R410A, R407C, R134a</li>
                <li>Düşük enerji tüketimi: Kademesiz kontrollü tek vidalı, multiple scroll ve inverter swing
                    kompresörler % 15 – 100 arası kapasite kontrolü</li>
                <li>Mükemmel tasarlanmış soğutucu akışkan çevrimi</li>
                <li>Çok noktadan sıcaklık ve basınç kontrolleriyle yüksek verim ve uzun ömür</li>
                <li>Inverter kondenser fanları ile sessiz ve verimli çalışma</li>
                <li>150 – 600 kW arası R134a shell-tube veya R407C li gruplarla plakalı evaporatör tipi seçebilme</li>
                <li>Optimum soğutucu akışkan miktarı ile maksimum verim</li>
                <li>Radyal fanlı modellerle kat arası uygulama</li>
                <li>Mükemmel Verim : COP = 3,3</li>
                <li>Mevcut bina yönetim sistemine bağlanabilme</li>
                <li>Tüm modellerde flow switch, pislik tutucu vb. standart güvenlik elemanları</li>
                <li>Otomatik yeniden çalışma özelliği</li>
                <li>Çok sessiz gruplar : 10m mesafede 55 dBA’ ya varan ses basınç performansı</li>
                <li>-15°C, +45 °C standart olarak bütün yıl çalışabilme</li>
                <li>Standart olarak -10°C ‘de çalışabilen gruplar(özellikle buz pateni sahası uygulamaları için uygun)
                </li>
                <li>Şarap üretimi, plastik sanayi vb. proseslere uygun guruplar</li>
                <li> Minimum cihaz ebatları ile maksimum alan kazanımı</li>
                <li>Low noise ve extra low noise aksesuarları ile daha sessiz çalışma</li>
                <li>Geniş aksesuar seçeneği</li>
                <li>Servis gereksinimi olmadan 40.000 saat çalışma</li>
            </ul>
            <div class="service-search">
              {{> common/search }}

            </div>
        </div>
    </div>
     {{> common/contactpopup }}
    {{!-- ///// Service Two --}}
    {{> common/footer }}

</body>

</html>