<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    {{> common/head }}

</head>

<body>

    {{> common/header }}
    {{!-- Blue Section --}}
    <div id="header-blue-section">
        <div class="container">
            <h1 class="header-blue-h1">XIDMETLER</h1>
            <p>Ana sehife / Xidmetler / Kondisioner Sistemləri</p>
        </div>
    </div>
    {{!-- ///// Blue Section --}}
    {{!-- Service --}}
    <div id="service-ns">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="service-card">
                        <div class="service-header">
                            <div id="mini_titles">
                                <div class="blue-line"></div>
                                <h2 class="mini-tit">CHİLLER</h2>
                            </div>
                        </div>
                        <div class="service-image">
                            <img src="../assets/image14.png" alt="">
                        </div>
                        <div class="service-text">
                            <ul>
                                <li>

                                    Hava Soyutmalı

                                </li>
                                <li>

                                    Su Soyutmalı

                                </li>
                                <li>

                                    VRV sistem iç blokları

                                </li>
                                <li>
                                    VRV idarəetmə sistemləri

                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="service-card">
                        <div class="service-header">
                            <div id="mini_titles">
                                <div class="blue-line"></div>
                                <h2 class="mini-tit">VRF</h2>
                            </div>
                        </div>
                        <div class="service-image">
                            <img src="../assets/image15.png" alt="">
                        </div>
                        <div class="service-text">
                            <ul>
                                <li>

                                    Hava soyutmalı chiller

                                </li>
                                <li>

                                    Su soyutmalı chiller

                                </li>
                                <li class="service-gray-li">
                                    <p>
                                        Condenserless
                                    </p>
                                </li>
                                <li class="service-gray-li">
                                    <p href="">
                                        Condensing unit
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="service-card">
                        <div class="service-header">
                            <div id="mini_titles">
                                <div class="blue-line"></div>
                                <h2 class="mini-tit">ROOFTOP</h2>
                            </div>
                        </div>
                        <div class="service-image">
                            <img src="../assets/image17.png" alt="">
                        </div>
                        <div class="service-text">
                            <ul>
                                <li>

                                    Rooftop Heat Pump

                                </li>
                                <li>

                                    Texniki Məlumat

                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="service-card">
                        <div class="service-header">
                            <div id="mini_titles">
                                <div class="blue-line"></div>
                                <h2 class="mini-tit">AHU</h2>
                            </div>
                        </div>
                        <div class="service-image">
                            <img src="../assets/image19.png" alt="">
                        </div>
                        <div class="service-text">
                            <ul>
                                <li>

                                    Tavan Tipi

                                </li>
                                <li>
                                    Kaset Tipi

                                </li>
                                <li>
                                    Döşəmə Tipi

                                </li>
                                <li>
                                    Tipi
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="service-card">
                        <div class="service-header">
                            <div id="mini_titles">
                                <div class="blue-line"></div>
                                <h2 class="mini-tit">HEAT PUMP</h2>
                            </div>
                        </div>
                        <div class="service-image">
                            <img src="../assets/image16.png" alt="">
                        </div>
                        <div class="service-text">
                            <ul>
                                <li class="service-gray-li disabled">
                                    Hava-Hava

                                </li>
                                <li class="service-gray-li">

                                    Hava-Su

                                <li class="service-gray-li">
                                    Hava-Qaz
                                </li>
                                <li class="service-gray-li">
                                    Torpaq-Su (Geotermal)
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="" class="service-card">
                        <div class="service-header">
                                <h2 class="mini-tit">FAN COİL</h2>
                        </div>
                        <div class="service-image">
                            <img src="../assets/image18.png" alt="">
                        </div>
                        <div class="service-text">
                            <ul>
                                <li>
                                    Xəstəxanalar üçün
                                </li>
                                <li>
                                    Ümumi sahələr üçün

                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
     {{> common/contactpopup }}
    {{!-- ///// Services --}}
    {{> common/footer }}

</body>

</html>