footer {
    width: 100%;

    .footer-top {
        width: 100%;
        // height: 100%;

        .container {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width:992px) {
                display: flex;
                justify-content: center;
            }

            .footer-card {
                margin-top: 30px;


                .footer-logo {
                    width: 190px;
                    height: 160px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    @media screen and (max-width:767.9px) {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                    }
                }

                .footer-social-media-icon {
                    display: flex;
                    margin-top: 35px;
                    margin: 35px -10px 0;

                    @media screen and (max-width:767.9px) {
                        display: flex;
                        justify-content: center;
                    }

                    .social-media {
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        font-family: 'Libre Baskerville';
                        background: #d8d8d8;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: $tr;
                        margin: 0 10px;
                        flex: 0 0 auto;

                        @media screen and (max-width:1199.9px) {
                            margin: 0 5px;
                        }

                        i {
                            color: white;
                            font-size: 20px;
                        }
                    }

                    .social-media:hover {
                        background: #0d598c;

                    }
                }
            }

            // .footer-menu-first {
            //     margin-left: 31px;

            // }

            // .footer-menu-second {
            //     margin-left: 128px;


            // }

            // .footer-menu-third {
            //     margin-left: 97px;

            //     @media screen and(max-width:1200px) {
            //         margin-left: 0;
            //     }
            // }

            .footer-menu {
                display: flex;
                flex-direction: column;
                margin-top: 30px;

                @media screen and (max-width:768px) {
                    display: none !important;
                }

                .footer-menu-black-a {
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #000000;
                    font-family: 'Libre Baskerville';
                    transition: $tr;
                    padding-bottom: 15px;
                }

                .footer-menu-black-a:hover {
                    color: #0d598c;
                }

                .footer-menu-gray-a {
                    font-size: 20px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    font-family: 'Libre Baskerville';
                    letter-spacing: normal;
                    color: #7b7b7b;
                    padding-bottom: 15px;
                }

                .footer-menu-black-span {
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    font-family: 'Libre Baskerville';
                    color: #000000;
                    padding-bottom: 15px;
                }

                .footer-menu-gray-span {
                    font-size: 20px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    font-family: 'Libre Baskerville';
                    color: #7b7b7b;
                }
            }
        }

        .flag {
            margin-top: 84px;
            display: flex;
            align-items: center;

            @media screen and(max-width:992px) {
                margin-top: 30px;
            }

            @media (max-width:767.9px) {
                display: flex;
                justify-content: center;
                width: 100%;
            }

            img {
                width: 52px;
                height: 26px;
            }

            a {
                font-size: 20px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                font-family: 'Libre Baskerville';
                color: #4a90e2;
                margin-left: 13px;
            }
        }
    }


    .footer-bottom {
        width: 100%;
        background-color: #efefef;
        display: flex;
        justify-content: center;
        padding: 20px 0 20px;
        margin-top: 18px;
        text-align: center;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;


            span {
                font-size: 18px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                font-family: 'Libre Baskerville';
                color: #6b6b6b;

                @media screen and (max-width: 991.9px) {
                    font-size: 16px;
                }

                @media screen and (max-width: 767.9px) {
                    font-size: 14px;
                }
            }
        }
    }
}