<section id="accordion">

    <ul class="accordion-menu">
        <li>
            <a href="">
                ANA SƏHİFƏ
            </a>
        </li>
        <li>
            <div class="dropdownlink">
                HAQQIMIZDA
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <ul class="submenuItems">
                <li>
                    <a href="">
                        Biz kimik?
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="dropdownlink">
                XİDMƏTLƏR
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <ul class="submenuItems">
                <li>
                    <a href="">
                        Konditsioner Sistemləri
                    </a>
                </li>
                <li>
                    <a href="">
                        İsitmə Sistemləri
                    </a>
                </li>
                <li>
                    <a href="">
                        Havalandırma Sistemləri
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">
                LAYİHƏLƏR
            </a>
        </li>
        <li>
            <div class="dropdownlink">
                BİZDƏN SİZƏ
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <ul class="submenuItems">
                <li>
                    <a href="">
                        Sual Cavab
                    </a>
                </li>
                <li>
                    <a href="">
                        Xəbərlər
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</section>