<div class="message">
    <svg id="Capa_1" class="icon" enable-background="new 0 0 413.348 413.348" height="512" viewBox="0 0 413.348 413.348" width="512"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z" />
        </svg>
    <div class="c_h">
        <div class="right right_c">
            <p>Request your service</p>
        </div>
    </div>
    <div id="chat_container">

        <div class="message-header">
         
            <p>Komandamızla əlaqə qurmaq üçün aşağıdakı
                formanı doldurun!</p>
        </div>
        <form id="chat-form">
            <div class="message-body">
                <input type="name" class="message-input" placeholder="Ad">
                <input type="text" class="message-input" placeholder="Soyad">
                <input type="email" class="message-input" placeholder="Email">
                <input type="number" class="message-input" placeholder="Telefon">
                <input type="text" class="message-input" placeholder="Mesaj">
            </div>
            <p class="message-body-p">Mövcud müştərisiniz?</p>
            <div class="message-radio-button">

                <label class="message-radio-button-child">Xeyr
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="message-radio-button-child">Bəli
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="message-radio-button-child">Digərləri
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>

        </form>
    </div>

    <a href="" class="message-button">MƏLUMAT GÖNDƏRİN</a>

</div>
{{!-- Chat button --}}

</div>