<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row w-100">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-card">
            <div class="footer-logo">
              <div>
                <img src="../assets/OMAN LOGO.png" alt="">
              </div>
            </div>
            <div class="footer-social-media-icon">
              <a href="" class="social-media">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="social-media">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="social-media">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="" class="social-media">
                <i class="fab fa-google"></i>
              </a>
            </div>
            <div class="flag">
              <img src="../assets/image11.png" alt="">
              <a href="" class="flag-link">metaforoman.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-menu footer-menu-first">
            <a href="" class="footer-menu-black-a">
              ANA SƏHİFƏ
            </a>
            <a href="" class="footer-menu-black-a">
              HAQQIMIZDA
            </a>
            <a href="" class="footer-menu-black-a">
              XİDMƏTLƏR
            </a>
            <a href="" class="footer-menu-black-a">
              LAYİHƏLƏR
            </a>
            <a href="" class="footer-menu-black-a">
              BİZDƏN SİZƏ
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-menu footer-menu-second">
            <span class="footer-menu-black-span">
              FAYDALI LINKLER
            </span>
            <a href="" class="footer-menu-gray-a">
              Kondisioner sistemleri
            </a>
            <a href="" class="footer-menu-gray-a">
              Isitme sistemleri
            </a>
            <a href="" class="footer-menu-gray-a">
              Havalandirma
            </a>
            <a href="" class="footer-menu-gray-a">
              Alternativ enerji
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-menu footer-menu-third">
            <span class="footer-menu-black-span">
              ADDRESS
            </span>
            <span class="footer-menu-gray-span">
              Lorem ipsum dolor sit amet,<br>
              consetetur sadipscing elitr, <br>
              sed diam nonumy.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <span>
        © 2013-2015 METAFOR MMC | BÜTÜN HÜQUQLAR QORUNUR
      </span>
    </div>
  </div>
</footer>
