<header id="homepage_header">
  {{!-- Service Number --}}
  <div id="service_number">
    <div class="container">
      <div class="service_number_main_section">

        {{!-- <div class="language">
          <select class="lang-select">
            <option>AZ</option>
            <option>ENG</option>
          </select>
          <div class="lang-icon-mother">
            <i class="fas fa-angle-down lang-icon"></i>
          </div>
        </div> --}}

        <div class="language-select">
          <a href="" class="mx-1">
            <img src="../assets/Flag_of_Azerbaijan.svg" alt="">
          </a>
          <a href="" class="mx-1">
            <img src="../assets/british_flag.webp" alt="">
          </a>
          <a href="" class="mx-1">
            <img src="../assets/russian-flag9.jpg" alt="">
          </a>
        </div>


        <p id="service-about">COMFORT SPECIALISTS SINCE 2005. SERVING ROUND ROCK & AUSTIN.</p>
        <span id="service-number">Call to Schedule Service <a href=""> 512.580.7551</a></span>
      </div>
    </div>
  </div>
  {{!-- ///// Service Number --}}
  <div class="nav-metafor">
    <div class="container">
      {{!-- N A V --}}
      <div class="nav">

        <div class="left-sec-nav">

          {{!-- n a v   l o g o --}}
          <div class="nav_logo">
            <a href="">
              <img src="../assets/OMAN LOGO.png" alt="">
            </a>
          </div>
        </div>
        <div class="right-sec-nav">

          {{!-- m e n u --}}
          <ul class="menu">
            <li>
              <a href="" class="active">
                Home
              </a>
            </li>
            <li>
              <a href="">
                About
              </a>

              {{!-- d r o p d o w n   m e n u --}}
              <ul class="drop_down_menu">
                <li>
                  <a href="">
                    Air Conditioning
                  </a>
                </li>
              </ul>
              {{!-- //d r o p d o w n   m e n u --}}

            </li>
            <li>
              <a href="">
                Plumbing
              </a>

              {{!-- d r o p d o w n   m e n u --}}
              <ul class="drop_down_menu">
                <li>
                  <a href="">
                    Konditsioner Sistemləri
                  </a>
                </li>
                <li>
                  <a href="">
                    İsitmə Sistemləri
                  </a>
                </li>
                <li>
                  <a href="">
                    Havalandırma Sistemləri
                  </a>
                </li>
              </ul>
              {{!-- //d r o p d o w n   m e n u --}}

            </li>
            <li>
              <a href="">
                Offers
              </a>
            </li> <li>
              <a href="">
                Products
              </a>
            </li> <li>
              <a href="">
                Blog
              </a>
            </li> <li>
              <a href="">
                News
              </a>
            </li>
            <li>
              <a href="">
                Customer App
              </a>

              {{!-- d r o p d o w n   m e n u --}}
              <ul class="drop_down_menu">
                <li>
                  <a href="">
                    Sual Cavab
                  </a>
                </li>
                <li>
                  <a href="">
                    Xəbərlər
                  </a>
                </li>
              </ul>
              {{!-- //d r o p d o w n   m e n u --}}
            </li>
            <li>
              <a href="">
                Contact
              </a>
            </li>
             <li>
              <a href="">
                FAQ
              </a>
            </li>
          </ul>

          {{!-- t o g g l e   m e n u   b u t t o n --}}
          <button id="toggleMenuButton">
            <span></span>
            <span></span>
            <span></span>
          </button>

          {{!-- t o g g l e   m e n u --}}
          <div class="toggle_menu">

            {{> common/accordion }}

          </div>

        </div>
      </div>
      {{!-- //N A V --}}
    </div>
  </div>
</header>