{{!-- Pagination --}}
<nav class="my-5" data-pagination>
    <a href=# disabled><i class="fas fa-long-arrow-alt-left"></i></a>
    <ul class="pagination_list">
        <li><a class=current href=#1>1</a>
        <li><a href=#2>2</a>
        <li><a href=#3>3</a>
        <li><a href=#4>4</a>
        <li><a href=#5>5</a>
        <li><a href=#6>6</a>
        <li><a href=#10>…</a>
        <li><a href=#26>26</a>
    </ul>
    <a href=#2><i class="fas fa-long-arrow-alt-right"></i></a>
</nav>